.colegiosBody .div1, .colegiosBody .div2, .colegiosBody .div3, .colegiosBody .div4 {
  text-align: center;
  color: #2c2c7e;
  font-size: 1.5rem; }

.colegiosBody .div1 img, .colegiosBody .div2 img, .colegiosBody .div3 img, .colegiosBody .div4 img {
  width: 350px;
  height: 350px; }

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif; }

/*Estilo del home*/
header {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue; }
  header header img {
    margin: 10px;
    text-align: start; }
  header header nav {
    width: 95%;
    top: 5%;
    position: absolute;
    text-align: end;
    list-style-type: none;
    color: white;
    font-size: 1.5rem; }
  header nav ul li {
    display: inline-block;
    justify-self: end; }
  header .nav-link {
    color: white; }
  header nav ul li:hover {
    transform: translate(5px, 5px); }
  header nav ul li a {
    font-size: 1.5rem;
    color: white;
    display: inline-block;
    margin: 5px; }

.home {
  width: 100%;
  height: 70vh;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/uniformes.jpg");
  background-size: cover; }
  .home .tituloPrincipal {
    font-size: 5rem;
    font-weight: bold; }
  .home .lema {
    font-size: 2rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .home .btnWsp {
    background-color: lightblue;
    width: 30%;
    margin: auto;
    border-radius: 4px;
    background-color: lightblue;
    padding: 1.5rem;
    margin: 2rem;
    display: inline-block;
    border-radius: 1rem; }
    .home .btnWsp img {
      width: 80px;
      height: 80px; }
  .home .btnWsp a {
    color: white;
    font-size: 1.7rem;
    text-decoration: none; }
  .home .btnWsp:hover {
    transform: scale(1.1); }

footer {
  text-align: center;
  background-color: lightblue;
  color: white;
  font-weight: bolder; }
  footer .logoInstagram {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem; }
  footer .linkContacto {
    text-decoration: none;
    color: white; }

/* estilos de sobrenosotros.html */
.infoSobreNosotros .sobreNosotrosMain img {
  width: 90%;
  height: 30%;
  margin: 30px; }

.infoSobreNosotros .sobreNosotrosSection {
  font-size: 1.5rem;
  margin: 30px; }

/* estilos de colegios.html */
.colegiosBody .colegiosMain {
  text-align: center;
  color: #2c2c7e;
  font-size: 1.7rem; }

.colegiosBody .div1:hover {
  transform: scale(1.1); }

.colegiosBody .div2:hover {
  transform: scale(1.1); }

.colegiosBody .div3:hover {
  transform: scale(1.1); }

.colegiosBody .div4:hover {
  transform: scale(1.1); }

/* estilo de contacto.html */
.homeContacto {
  width: 100%;
  height: 95vh;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/uniformes.jpg");
  background-size: cover; }
  .homeContacto .contacto {
    font-size: 1.9rem;
    text-align: center;
    background-color: lightblue;
    margin: 10px;
    padding: 1rem;
    color: white; }
  .homeContacto form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue; }
  .homeContacto form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem; }

/* estilo de ubicacion.html */
.ubicacionMain {
  text-align: center; }
  .ubicacionMain .infoUbicacion {
    margin: 15px; }

/* estilo de bebesyninos.html */
.mainBebesYNinos .gamise h1 {
  font-size: 1.5rem;
  text-align: center;
  background-color: #50b6d7;
  margin: 10px;
  color: white; }

.mainBebesYNinos .gamise img {
  width: 400px;
  height: 400px;
  margin: 10px; }

.mainBebesYNinos .panalera p {
  font-size: 1.5rem;
  text-align: center;
  background-color: #50b6d7;
  margin: 10px;
  color: white; }

.mainBebesYNinos .panalera img {
  width: 700px;
  height: 400px;
  margin: 10px 300px; }

.mainBebesYNinos .infantil p {
  font-size: 1.5rem;
  text-align: center;
  background-color: #50b6d7;
  margin: 10px;
  color: white; }

.mainBebesYNinos .infantil img {
  width: 400px;
  height: 400px;
  margin: 10px; }

/* Import media queries*/
@media screen and (max-width: 768px) {
  header nav ul li a {
    font-size: 1rem;
    color: white;
    display: inline-block;
    margin: 5px; }
  header nav {
    font-size: 1rem;
    width: 95%;
    top: 5%;
    position: absolute;
    text-align: end;
    list-style-type: none;
    color: white; }
  .home .tituloPrincipal {
    font-size: 3.5rem; }
  .home .lema {
    font-size: 1.5rem; }
  .home .btnWsp {
    margin: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 1rem; }
  .home img {
    height: 2rem;
    width: 2rem; }
  /* media queries (mq) - sobreNosotros.html */
  .infoSobreNosotros .sobreNosotrosMain img {
    height: 50%;
    width: 100%;
    margin: 60px 30px; }
  .infoSobreNosotros .sobreNosotrosSection {
    font-size: 1.3rem;
    margin: 30px; }
  /* media queries (mq) - bebesyNinos.html */
  .mainBebesYNinos .gamise img {
    height: 300px;
    width: 300px;
    margin: 10px; }
  .mainBebesYNinos .panalera img {
    height: 500px;
    width: 700px;
    margin: 10px; }
  .mainBebesYNinos .infantil img {
    height: 300px;
    width: 300px;
    margin: 10px; }
  /* media queries (mq) - colegios.html*/
  .infoColegios .colegiosBody {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header" "main main" "div1 div2" "div3 div4" "footer footer";
    grid-template-rows: 145px 100px 300px 450px;
    gap: 10px; }
  .infoColegios .colegiosMain {
    text-align: center;
    color: #2c2c7e;
    font-size: 1.3rem;
    grid-area: main; }
  .infoColegios .div1 img {
    grid-area: div1;
    height: 350px;
    width: 350px;
    margin: 10px; }
  .infoColegios .div2 img {
    height: 350px;
    width: 350px;
    grid-area: div2;
    margin: 10px; }
  .infoColegios .div3 img {
    height: 350px;
    width: 350px;
    grid-area: div3;
    margin: 10px; }
  .infoColegios .div4 img {
    height: 350px;
    width: 350px;
    grid-area: div4;
    margin: 10px; }
  /* media queries (mq) - ubicacion.html*/
  .ubicacionMain .frenteLocal {
    display: none; } }

@media screen and (max-width: 320px) {
  .home .tituloPrincipal {
    font-size: 2.5rem; }
  .home .lema {
    font-size: 1.5rem; }
  .home a {
    margin: 1rem;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem; }
  .home a img {
    height: 1rem;
    width: 1rem; }
  /* media queries (mq) - sobreNosotros.html */
  .sobreNosotrosBody {
    grid-template-rows: 145px 500px 100px; }
  .sobreNosotrosSection {
    font-size: 1.1rem;
    margin: 30px; }
  .sobreNosotrosMain img {
    display: none; }
  /* media queries (mq) - ubicacion.html */
  .ubicacionMain img {
    display: none; }
  /* media queries (mq) - bebesyNinos.html */
  .bebesyninosBody {
    display: grid;
    height: 100vh;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 145px 3300px 80px;
    gap: 10px; }
  .gamise img {
    height: 300px;
    width: 300px;
    margin: 10px; }
  .panalera img {
    height: 200px;
    width: 300px;
    margin: 10px; }
  .infantil img {
    height: 300px;
    width: 300px;
    margin: 10px; }
  /* media queries (mq) - colegios.html*/
  .colegiosBody {
    display: grid;
    height: 100vh;
    grid-template-areas: "header" "main" "div1" "div2" "div3" "div4" "footer";
    grid-template-rows: 145px 100px 300px 450px;
    gap: 10px; }
  .colegiosMain {
    text-align: center;
    color: #2c2c7e;
    font-size: 1rem;
    grid-area: main;
    display: flex; }
  .div1 img {
    grid-area: div1;
    height: 300px;
    width: 300px; }
  .div2 img {
    height: 300px;
    width: 300px;
    grid-area: div2; }
  .div3 img {
    height: 300px;
    width: 300px;
    grid-area: div3; }
  .div4 img {
    height: 300px;
    width: 300px;
    grid-area: div4; } }
