//import

@import "utilities/variables";
@import "utilities/medias";

/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $tipografia;
}

/*Estilo del home*/

header {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $colorPrincipal;

    header img {
        margin: 10px;
        text-align: start;
    }

    header nav {
        width: 95%;
        top: 5%;
        position: absolute;
        text-align: end;
        list-style-type: none;
        color: $colorTipografia;
        font-size: 1.5rem;
    }

    nav ul li {
        display: inline-block;
        justify-self: end;
    }

    .nav-link {
        color: $colorTipografia;
    }

    nav ul li:hover {
        transform: translate(5px, 5px);
    }

    nav ul li a {
        font-size: 1.5rem;
        color: $colorTipografia;
        display: inline-block;
        margin: 5px;
    }
}

.home {
    width: 100%;
    height: 70vh;
    text-align: center;
    color: $colorTipografia;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/uniformes.jpg");
    background-size: cover;

    .tituloPrincipal {
        font-size: 5rem;
        font-weight: bold;
    }

    .lema {
        font-size: 2rem;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btnWsp {
        background-color: lightblue;
        width: 30%;
        margin: auto;
        border-radius: 4px;
        background-color: $colorPrincipal;
        padding: 1.5rem;
        margin: 2rem;
        display: inline-block;
        border-radius: 1rem;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .btnWsp a {
        color: $colorTipografia;
        font-size: 1.7rem;
        text-decoration: none;
    }

    .btnWsp:hover {
        transform: scale(1.1);
    }
}

footer {
    text-align: center;
    background-color: $colorPrincipal;
    color: $colorTipografia;
    font-weight: bolder;

    .logoInstagram {
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
    }

    .linkContacto {
        text-decoration: none;
        color: white;
    }
}

/* estilos de sobrenosotros.html */

.infoSobreNosotros {
    .sobreNosotrosMain img {
        height: 30%;
        width: 90%;
        margin: 30px;
    }

    .sobreNosotrosSection {
        font-size: 1.5rem;
        margin: 30px;
    }
}

/* estilos de colegios.html */

.colegiosBody {
    .colegiosMain {
        text-align: center;
        color: rgb(44, 44, 126);
        font-size: 1.7rem;
    }

    .div1 {
        text-align: center;
        color: rgb(44, 44, 126);
        font-size: 1.5rem;
    }

    .div1 img {
        height: 350px;
        width: 350px;
    }

    .div1:hover {
        transform: scale(1.1);
    }

    .div2 {
        text-align: center;
        color: rgb(44, 44, 126);
        font-size: 1.5rem;
    }

    .div2:hover {
        transform: scale(1.1);
    }

    .div2 img {
        height: 350px;
        width: 350px;
    }

    .div3 {
        text-align: center;
        color: rgb(44, 44, 126);
        font-size: 1.5rem;
    }

    .div3:hover {
        transform: scale(1.1);
    }

    .div3 img {
        height: 350px;
        width: 350px;
    }

    .div4 {
        text-align: center;
        color: rgb(44, 44, 126);
        font-size: 1.5rem;
    }

    .div4:hover {
        transform: scale(1.1);
    }

    .div4 img {
        height: 350px;
        width: 350px;
    }
}

/* estilo de contacto.html */

.homeContacto {
    width: 100%;
    height: 95vh;
    text-align: center;
    color: $colorTipografia;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/uniformes.jpg");
    background-size: cover;
    .contacto {
        font-size: 1.9rem;
        text-align: center;
        background-color: lightblue;
        margin: 10px;
        padding: 1rem;
        color: white;
    }

    form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
    }

    form input {
        width: 90%;
        height: 30px;
        margin: 0.5rem;
    }
}

/* estilo de ubicacion.html */
.ubicacionBody {
    .ubicacionMain {
        height: 1fr;
        width: 1fr;
        grid-area: main;
        justify-self: center;
        margin: 20px;
    }

    .ubicacionMain img {
        height: 400px;
        width: 600px;
        grid-area: div;
        justify-self: center;
        margin: 20px;
    }

    .inframeDiv {
        height: 500px;
        width: 700px;
        grid-area: div;
        justify-self: center;
        margin: 50px 30px;
    }
}

/* estilo de bebesyninos.html */

.mainBebesYNinos {
    .gamise h1 {
        font-size: 1.5rem;
        text-align: center;
        background-color: rgb(80, 182, 215);
        margin: 10px;
        color: white;
    }

    .gamise img {
        height: 400px;
        width: 400px;
        margin: 10px;
    }

    .panalera p {
        font-size: 1.5rem;
        text-align: center;
        background-color: rgb(80, 182, 215);
        margin: 10px;
        color: white;
    }

    .panalera img {
        height: 400px;
        width: 700px;
        margin: 10px 300px;
    }

    .infantil p {
        font-size: 1.5rem;
        text-align: center;
        background-color: rgb(80, 182, 215);
        margin: 10px;
        color: white;
    }

    .infantil img {
        height: 400px;
        width: 400px;
        margin: 10px;
    }
}