//import

@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/extend";
@import "utilities/maps";

/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $tipografia;
}

/*Estilo del home*/

header {
    height: 100%;
    margin: map-get($map: $margin, $key: margin1);
    padding: 0;
    background-color: $colorPrincipal;

    .nav-link {
        color: $colorTipografia;
        font-size: x-large;
    }

    nav ul li:hover {
        transform: translate(5px, 5px);
    }
}

.home {
    @include medidas (100%, 70vh);
    text-align: center;
    color: $colorTipografia;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/uniformes.jpg");
    background-size: cover;

    .tituloPrincipal {
        font-size: 5rem;
        font-weight: bold;
    }

    .lema {
        font-size: 2rem;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btnWsp {
        background-color: lightblue;
        width: 30%;
        margin: auto;
        border-radius: 4px;
        background-color: $colorPrincipal;
        padding: 1.5rem;
        margin: 2rem;
        display: inline-block;
        border-radius: 1rem;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .btnWsp a {
        color: $colorTipografia;
        font-size: 1.7rem;
        text-decoration: none;
    }

    .btnWsp:hover {
        transform: scale(1.1);
    }
}

footer {
    text-align: center;
    background-color: $colorPrincipal;
    color: $colorTipografia;
    font-weight: bolder;

    .logoInstagram {
        @include medidas (1.5rem, 1.5rem);
        margin:  map-get($map: $margin, $key: margin4);
    }

    .linkContacto {
        text-decoration: none;
        color: white;
    }
}

@import "components/bebesYNinos";
@import "components/colegios";
@import "components/contacto";
@import "components/sobreNosotros";
@import "components/ubicacion";

/* Import media queries*/

@import "components/medias";