/* estilo de contacto.html */

.homeContacto {
    @include medidas (100%, 95vh);
    text-align: center;
    color: $colorTipografia;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/uniformes.jpg");
    background-size: cover;
    .contacto {
        font-size: 1.9rem;
        text-align: center;
        background-color: lightblue;
        margin:  map-get($map: $margin, $key: margin3);
        padding: 1rem;
        color: white;
    }

    form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
    }

    form input {
        @include medidas (90%, 30px);
        margin: 0.5rem;
    }
}